Reihenfolge
"Zufällige Reihenfolge"
"Chronologische Reihenfolge"
"Statistikorientierte Reihenfolge"
Vokabel-Export
Datenbank-Export
JSON-Export
XML-Export
TXT-Export
Vokabel-Import
Datenbank-Import
JSON-Import
XML-Import
TXT-Import
Statistik
"Benutzerspezifische Statistik"
"Persistierte Statistik"
Session-Statistik
Benutzerverwaltung
Login
Mehrfachlösung
Vokabel-Anlegen
